{% extends 'base.html.twig' %}
{% block title %}Ajouter Article{% endblock %}
{% block body %}

{# (TP5 ÉTAPE 13) AJOUTE novalidate ICI #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{ form_widget(form) }}
<button type="submit" class="btn btn-success">Créer</button> 
{{ form_end(form) }}
{% endblock %}